@import "@csstools/normalize.css";

@import "govuk-frontend/dist/govuk/all";

body {
  margin: 0;
}

.govuk-error-notification-banner {
  color: govuk-colour("white");
  background: govuk-colour("red");
  border: 5px solid govuk-colour("red");
}

.govuk-link--warning {
  color: govuk-colour("red");
}

.govuk-custom-link {
  @include govuk-font($size: 19);
}

.app-header-navigation {
  padding-top: govuk-spacing(4);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.25;
}
