@import "~@csstools/normalize.css";

@import "~govuk-frontend/govuk/all";

body {
  margin: 0;
}

.govuk-error-notification-banner {
  color: govuk-colour("white");
  background: govuk-colour("red");
  border: 5px solid govuk-colour("red");
}

.govuk-link--warning {
  color: govuk-colour("red");
}

.govuk-custom-link {
  @include govuk-font($size: 19);
}
