export MICROSOFT_GRAPH_CLIENT_ID=<Get from 'Beacons service local application-dev.yml' secret>
export MICROSOFT_GRAPH_CLIENT_SECRET=<Get from 'Beacons service local application-dev.yml' secret>
export MICROSOFT_GRAPH_B2C_TENANT_ID=<Get from 'Beacons service local application-dev.yml' secret>
