# Compiled files
*.tfstate
*.tfstate.backup
.terraform.tfstate.lock.info
# Module directory
.terraform/

# Coverage
coverage/

# MacOS
**/.DS_Store

# JetBrains
.idea/
*.iml

# Node Modules
node_modules
.env
