.root {
  flex-grow: 1;
  font-family: Arial;
  font-size: 11pt;
  background-color: white;
  padding: 0.5%;
}

.header {
  border-bottom: 2px solid black;
  padding-bottom: 0.5%;
}

.deptRefSection {
  float: left;
}

#logoContainer {
  padding-left: 32%;
}

.mcaLogo {
  height: 90px;
  float: right;
  padding-right: 15%;
}

.subItem {
  padding-top: 1%;
  padding-bottom: 1%;
}

.title {
  font-weight: bold;
}

.beaconInfo {
  padding-top: 0.5%;
}

.link {
  text-decoration: none;
  color: blue;
}

.footerContainer {
  position: relative;
  padding-top: 10%;
  background-color: white;
}

.footer {
  top: auto;
  bottom: 0;
  width: 100%;
  position: absolute;
}

@media print {
  #logoContainer {
    padding-left: 45%;
  }
  .mcaLogo {
    padding-right: 0%;
  }
  .footerContainer {
    padding-top: 0%;
    margin-top: 10%;
  }
  .footer {
    width: 100%;
    position: sticky;
    top: auto;
    bottom: 0;
  }
}
