.letter {
  display: flex;
  flex-flow: column;
  height: 100%;

  background: pcerwhite;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
  margin: 20px auto;
  width: 21cm;
  min-height: 30cm;
  padding: 30px 40px 20px 40px;

  .bold {
    font-weight: bold;
  }

  .underline {
    text-decoration: underline;
  }

  .uppercase {
    text-transform: uppercase;
  }

  .full {
    width: 100%;
  }
  .half {
    width: 50%;
    display: inline;
    float: left;
  }

  div.section {
    clear: both;
    display: block;
  }

  div.header {
    display: inline-block;

    p {
      margin: 0;
    }

    img {
      float: left;
      clear: right;
      padding-top: 10px;
      height: 100px;
    }

    .sender {
      margin-top: 10px;
      text-align: right;
      p {
        margin: 0;
        padding: 1px;
      }
    }

    div.recipient {
      clear: left;
      margin-top: 20px;
      margin-bottom: 20px;

      .address-fields {
        display: inline-block;
        span {
          line-height: 1;
          display: block;
          font-weight: bold;
          text-transform: uppercase;
        }
      }
    }
  }

  .content {
    .registrationText {
      text-align: justify;
      .subject {
        p {
          padding: 2px;
          margin: 0;
        }
      }
    }

    div.date {
      margin-top: 100px;
      p {
        margin: 2px;
        text-align: right;
      }
    }

    .sign-off {
      p {
        margin: 0;
        padding: 0;
        padding-bottom: 5px;
      }
    }
  }
  .footer {
    display: block;
    margin-top: auto;
    padding-top: 50px;

    div.text {
      width: 50%;
      float: left;
    }

    .investors-in-people-logo {
      width: 25%;
      float: right;
      margin-top: 50px;
      margin-right: 50px;
    }
  }
}

@media print {
  .letter {
    page-break-before: always;
    margin: 0;
    box-shadow: none;
  }

  .footer {
    display: fixed;
    bottom: 0;
  }
}
