API_URL=http://localhost:8080/spring-api
NEXTAUTH_URL=http://localhost:3000
JWT_SECRET=Rubbish-Immense-Depth-Memory-4

# https://next-auth.js.org/configuration/options#nextauth_secret
# This will be the same as the JWT_SECRET above
AUTH_SECRET="Rubbish-Immense-Depth-Memory-4"

# Redis environment variable
REDIS_DRAFT_REGISTRATION_TTL=86400

# Cypress tests - See Occasional Cypress test failures in tests/README.md
SESSION_TOKEN=<get_from_1Password>

# Get from MCA IT department
GOV_NOTIFY_API_KEY=<get_from_1Password>

# mcga.onmicrosoft.com - Get from MCA IT department
AAD_API_ID=<get_from_1Password>
AAD_TENANT_ID=<get_from_1Password>

# testmcga.onmicrosoft.com - Get from MCA IT department
WEBAPP_CLIENT_ID=<get_from_1Password>
WEBAPP_CLIENT_SECRET=<get_from_1Password>

# TESTB2CMCGA.onmicrosoft.com - Get from MCA IT department
AZURE_B2C_CLIENT_ID=<get_from_1Password>
AZURE_B2C_CLIENT_SECRET=<get_from_1Password>
AZURE_B2C_TENANT_NAME=<get_from_1Password>
AZURE_B2C_TENANT_ID=<get_from_1Password>
AZURE_B2C_LOGIN_FLOW=<get_from_1Password>
AZURE_B2C_SIGNUP_FLOW=<get_from_1Password>
