API_URL=http://localhost:8080/spring-api
NEXTAUTH_URL=http://localhost:3000
REDIS_URI=redis://localhost:6379
REDIS_DRAFT_REGISTRATION_TTL=86400

JWT_SECRET=local-development-only
AUTH_SECRET=local-development-only
