# IntelliJ
**/.idea/workspace.xml
**/.idea/tasks.xml
*.iml

# VSCode
.vscode/

# MacOS
**/.DS_Store

node_modules/
.next/
.idea/
.eslintcache
.env
.env.local

# Cypress
screenshots

# Jest
coverage

cypress.env.json
