# IntelliJ
**/.idea/workspace.xml
**/.idea/tasks.xml
*.iml

# VSCode
.vscode/

# MacOS
**/.DS_Store

node_modules/
.next/
.idea/
.eslintcache
.env
.env.local

# Cypress
screenshots
videos

# Jest
coverage

# TypeScript incremental build cache
*.tsbuildinfo

cypress.env.json