<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Certificate</title>
  </head>
  <body>
    <div class="container">
      <p>OFFICIAL</p>
      <p>UK Distress &amp; Security Beacon Registration</p>
      <p>PROOF OF REGISTRATION: DEPT REF: 08 September 2022 4166/10</p>
      <img
        src="https://register-406-beacons.service.gov.uk/assets/mca_images/mca-logo.png"
      />
      <p>
        RECORD CREATED DATE: LAST MODIFIED: 31 January 2020 BEACON STATUS: 04
        October 2010 ACTIVE Beacon Details: HEX ID: 1D1C5ED6DEFFBFF
        MANUFACTURER: ACR SERIAL NO: MANUFACTURER SERIAL NO: BEACON MODEL: CSTA
        189, RLB 36-40, Globalfix iPRO EPIRB BEACON LAST SERVICED: BEACON
        CODING: Test Protocol - sn 11119 August 2025 BATTERY EXPIRY DATE: EPIRB
        Test CODING PROTOCOL: CSTA NUMBER: NOTES: 5/10/10: started on/off times
        to monitor battery.1115 for 1 hr. Test protocol worked but homer was
        only picked up at 1nm &amp; less than 500' in height. Data from Kinloss
        good on 2 passes but diff positions, 20/10/10 Contact upd 27/11/19
        Replacement Battery fitted by UK ACR Agent, upd 31/1/20 BEACON USE:
        Maritime Vessel Details: VESSEL NAME: MCA - TEST &amp; EXERCISE PURPOSES
        HOMEPORT: VESSEL: [BLANK] MAX PERSON ON BOARD: VESSEL CALLSIGN: MMSI
        NUMBER: RADIO SYSTEM: NOTES: Vessel Identification: FISHING VESSEL PORT
        ID &amp; NUMBERS: OFFICIAL NUMBER: IMO NUMBER: RSS/SSR NUMBER: HULL ID
        NUMBER: COASTGUARD CG66 REFERENCE NUMBER: Owner Details: OWNER(S):
        COMPANY AGENT: CARE OF: ADDRESS: COUNTRY: UK 406MHz Distress and
        Security Beacon Registry FALMOUTH CGOC CASTLE DRIVE PENDENNIS POINT
        FALMOUTH, CORNWALL TR11 4WZ UK TELs: 020 3817 2006 01326 211569 (Local)
        MOBILES: OTHER/EMAIL: UKBeacons@mcga.gov.uk EMERGENCY CONTACTS: UK
        BEACON REGISTRY, Office Hrs Only: 020 3817 2006 Falmouth CGOC Ops Room:
        01326 317575 James Instance, Falmouth Coastguard Controller, Mobile:
        07721 437954 In an Emergency, call Falmouth Coastguard, 24 hour Tel: +44
        (0)1326 317575 Proof of Registration from The UK Distress and Security
        Beacon Registry Falmouth MRCC, Castle Drive, Pendennis Point, Falmouth,
        Cornwall TR11 4WZ Office Hours Tel: +44 (0)1326 211569 Fax: +44 (0)1326
        319264 Email: UKBeacons@mcga.gov.uk http://www.gov.uk/406beacon OFFICIAL
      </p>
    </div>
  </body>
</html>
