name: "[reusable] Test Service"

permissions:
  contents: read
  pull-requests: write

on:
  workflow_call:
    inputs:
      environment:
        description:
          The environment to which the application should be deployed.  Must be one of development/staging/production
          and must match the terraform_workspace input.
        type: string
        required: true
      git-reference:
        type: string
        description: "(Optional) branch, tag or commit to test and deploy"
    secrets:
      microsoft_graph_client_id:
        description: The Azure AD B2C client id required for the beacons service API to call Microsoft Graph
        required: true
      microsoft_graph_client_secret:
        description: The Azure AD B2C client secret required for the beacons service API to call Microsoft Graph
        required: true
      microsoft_graph_b2c_tenant_id:
        description: The Azure AD B2C tenant id required for the beacons service API to call Microsoft Graph
        required: true
      microsoft_graph_b2c_tenant_name:
        description: The Azure AD B2C tenant name required for the beacons service API to call Microsoft Graph
        required: true

defaults:
  run:
    working-directory: service

jobs:
  static_analysis:
    name: Static analysis
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
        with:
          ref: ${{inputs.git-reference}}

      - uses: actions/setup-node@v5
        with:
          node-version: "22.17.0"

      - name: Install npm dependencies
        run: npm ci

      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: "**/node_modules"
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}

      - name: Docker lint
        uses: hadolint/hadolint-action@v3.2.0
        with:
          dockerfile: service/Dockerfile

  unit_tests:
    name: Unit tests
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
        with:
          ref: ${{inputs.git-reference}}

      - uses: actions/setup-java@v5
        with:
          distribution: "adopt"
          java-version: 17

      - name: Unit tests
        run: ./gradlew clean test

  integration_tests:
    name: Integration test
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}

    services:
      postgres:
        image: postgres:17
        env:
          POSTGRES_PASSWORD: password
          POSTGRES_USER: beacons_service
          POSTGRES_DB: beacons
        ports:
          - 5432:5432

    steps:
      - uses: actions/checkout@v5
        with:
          ref: ${{inputs.git-reference}}

      - uses: actions/setup-java@v5
        with:
          distribution: "adopt"
          java-version: 17

      - name: Integration tests
        env:
          MICROSOFT_GRAPH_CLIENT_ID: ${{ secrets.microsoft_graph_client_id }}
          MICROSOFT_GRAPH_CLIENT_SECRET: ${{ secrets.microsoft_graph_client_secret }}
          MICROSOFT_GRAPH_B2C_TENANT_ID: ${{ secrets.microsoft_graph_b2c_tenant_id }}
          MICROSOFT_GRAPH_B2C_TENANT_NAME: ${{ secrets.microsoft_graph_b2c_tenant_name }}
        run: ./gradlew clean integrationTest
