name: "[reusable] Test Backoffice"

permissions:
  contents: read
  pull-requests: write

on:
  workflow_call:
    inputs:
      git-reference:
        type: string
        description: "(Optional) branch, tag or commit to test and deploy"

defaults:
  run:
    working-directory: backoffice

jobs:
  static_analysis:
    name: Static analysis
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{inputs.git-reference}}

      - uses: actions/setup-node@v6
        with:
          node-version: "24.11.0"

      - name: Install npm dependencies
        run: npm ci

      - name: Npm linter
        run: npm run lint

      - name: Docker lint
        uses: hadolint/hadolint-action@v3.3.0
        with:
          dockerfile: backoffice/Dockerfile

  unit_tests:
    name: Unit tests
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{inputs.git-reference}}

      - uses: actions/setup-node@v6
        with:
          node-version: "24.11.0"

      - name: Install npm dependencies
        run: npm ci

      - name: Run unit tests
        run: npm test
