name: On push, deploy to dev

on:
  push:
    branches:
      - main
  release:
    types:
      - released

jobs:
  terraform_lint:
    name: Terraform lint
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: terraform
    steps:
      - uses: actions/checkout@v2
      - uses: hashicorp/setup-terraform@v1
        with:
          terraform_version: 1.0.0
      - name: Terraform Lint
        run: terraform fmt --recursive --check

  prettier_check:
    name: Prettier check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 14
      - name: Prettier check
        run: |
          npm ci
          npm run format:check

  publish_webapp_image:
    name: Webapp
    uses: ./.github/workflows/publish-webapp-image.yml
    with:
      tag: ${{ github.event.action == 'released' && github.event.release.tag_name || github.sha }}
      registry_url: 232705206979.dkr.ecr.eu-west-2.amazonaws.com
    secrets:
      aws_access_key_id: ${{ secrets.AWS_ACCESS_KEY_ID }}
      aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      test_azure_b2c_session_token: ${{ secrets.TEST_WEBAPP_AZURE_B2C_SESSION_TOKEN }}
      test_azure_b2c_jwt_secret: ${{ secrets.TEST_WEBAPP_AZURE_B2C_JWT_SECRET }}

  publish_service_image:
    name: Service
    uses: ./.github/workflows/publish-service-image.yml
    with:
      tag: ${{ github.event.action == 'released' && github.event.release.tag_name || github.sha }}
      registry_url: 232705206979.dkr.ecr.eu-west-2.amazonaws.com
    secrets:
      aws_access_key_id: ${{ secrets.AWS_ACCESS_KEY_ID }}
      aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

  publish_opensearch_proxy_image:
    name: OpenSearch proxy
    uses: ./.github/workflows/publish-opensearch-proxy-image.yml
    with:
      tag: ${{ github.event.action == 'released' && github.event.release.tag_name || github.sha }}
      registry_url: 232705206979.dkr.ecr.eu-west-2.amazonaws.com
    secrets:
      aws_access_key_id: ${{ secrets.AWS_ACCESS_KEY_ID }}
      aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

  end_to_end_tests:
    name: End-to-end tests
    needs:
      [
        publish_webapp_image,
        publish_service_image,
        publish_opensearch_proxy_image,
      ]
    uses: ./.github/workflows/end-to-end-tests.yml
    with:
      service-image-tag: ${{ github.event.action == 'released' && github.event.release.tag_name || github.sha }}
      test_gov_notify_feedback_email_address: beacons_test_feedback@mailsac.com
    secrets:
      aws_access_key_id: ${{ secrets.AWS_ACCESS_KEY_ID }}
      aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      test_webapp_azure_b2c_session_token: ${{ secrets.TEST_WEBAPP_AZURE_B2C_SESSION_TOKEN }}
      test_webapp_azure_b2c_jwt_secret: ${{ secrets.TEST_WEBAPP_AZURE_B2C_JWT_SECRET }}
      test_webapp_azure_ad_client_secret: ${{ secrets.TEST_WEBAPP_AZURE_AD_CLIENT_SECRET }}
      test_webapp_gov_notify_api_key: ${{ secrets.TEST_WEBAPP_GOV_NOTIFY_API_KEY }}

  deploy_dev:
    name: Deploy
    if: ${{ github.event.action == 'push' }}
    needs: [end_to_end_tests, terraform_lint, prettier_check]
    uses: ./.github/workflows/deploy.yml
    with:
      environment: development
      terraform_workspace: dev
      webapp_image_tag: ${{ github.sha }}
      service_image_tag: ${{ github.sha }}
      opensearch_proxy_image_tag: ${{ github.sha }}
      trello_list_id: 6157064b4d7e1b3b1ea839ad
    secrets:
      aws_access_key_id: ${{ secrets.AWS_ACCESS_KEY_ID }}
      aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      db_password: ${{ secrets.DB_PASSWORD }}
      gov_notify_api_key: ${{ secrets.GOV_NOTIFY_API_KEY }}
      webapp_azure_ad_client_secret: ${{ secrets.WEBAPP_CLIENT_SECRET }}
      webapp_azure_b2c_client_secret: ${{ secrets.AZURE_B2C_CLIENT_SECRET }}
      webapp_azure_b2c_next_auth_jwt_secret: ${{ secrets.JWT_SECRET }}
      service_basic_auth_username: ${{ secrets.SERVICE_BASIC_AUTH_USERNAME }}
      service_basic_auth_password: ${{ secrets.SERVICE_BASIC_AUTH_PASSWORD }}
      aws_account_number: ${{ secrets.AWS_ACCOUNT_NUMBER }}
      trello_api_key: ${{ secrets.TRELLO_API_KEY }}
      trello_token: ${{ secrets.TRELLO_TOKEN }}
      opensearch_master_user_name: ${{ secrets.OPENSEARCH_USERNAME }}
      opensearch_master_user_password: ${{ secrets.OPENSEARCH_PASSWORD }}
      opensearch_dashboards_sso_client_secret: ${{ secrets.OPENSEARCH_DASHBOARDS_SSO_CLIENT_SECRET }}

  deploy_staging:
    name: Deploy
    if: ${{ github.event.action == 'release' }}
    needs: [ end_to_end_tests, terraform_lint, prettier_check ]
    uses: ./.github/workflows/deploy.yml
    with:
      environment: staging
      terraform_workspace: dev
      webapp_image_tag: ${{ github.event.action == 'released' && github.event.release.tag_name || github.sha }}
      service_image_tag: ${{ github.event.action == 'released' && github.event.release.tag_name || github.sha }}
      opensearch_proxy_image_tag: ${{ github.event.action == 'released' && github.event.release.tag_name || github.sha }}
      trello_list_id: 6157064b4d7e1b3b1ea839ad
    secrets:
      aws_access_key_id: ${{ secrets.AWS_ACCESS_KEY_ID }}
      aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      db_password: ${{ secrets.DB_PASSWORD }}
      gov_notify_api_key: ${{ secrets.GOV_NOTIFY_API_KEY }}
      webapp_azure_ad_client_secret: ${{ secrets.WEBAPP_CLIENT_SECRET }}
      webapp_azure_b2c_client_secret: ${{ secrets.AZURE_B2C_CLIENT_SECRET }}
      webapp_azure_b2c_next_auth_jwt_secret: ${{ secrets.JWT_SECRET }}
      service_basic_auth_username: ${{ secrets.SERVICE_BASIC_AUTH_USERNAME }}
      service_basic_auth_password: ${{ secrets.SERVICE_BASIC_AUTH_PASSWORD }}
      aws_account_number: ${{ secrets.AWS_ACCOUNT_NUMBER }}
      trello_api_key: ${{ secrets.TRELLO_API_KEY }}
      trello_token: ${{ secrets.TRELLO_TOKEN }}
      opensearch_master_user_name: ${{ secrets.OPENSEARCH_USERNAME }}
      opensearch_master_user_password: ${{ secrets.OPENSEARCH_PASSWORD }}
      opensearch_dashboards_sso_client_secret: ${{ secrets.OPENSEARCH_DASHBOARDS_SSO_CLIENT_SECRET }}

  codeql:
    name: CodeQL check
    if: ${{ github.event.action == 'release' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4
      - name: Initialize CodeQL
        uses: github/codeql-action/init@v1
        with:
          config-file: .github/codeql/codeql-config.yml
          languages: java, typescript
      - uses: actions/setup-java@v2
        with:
          distribution: "adopt"
          java-version: 11
      - name: Compile code
        run: ./service/gradlew clean assemble
      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v1

  deploy_production:
    if: ${{ github.event.action == 'release' }}
    needs: [ deploy_staging, codeql ]
    name: Deploy production
    runs-on: ubuntu-latest
    steps:
      - run: echo "I would have deployed release with tag ${{ github.event.release.tag_name }} to production"