name: Run tests against branch

permissions:
  contents: read
  pull-requests: write

on:
  push:
    branches-ignore:
      - main

jobs:
  terraform_lint:
    name: Terraform lint
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: terraform
    steps:
      - uses: actions/checkout@v5
      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.0.0
      - name: Terraform Lint
        run: terraform fmt --recursive --check

  prettier_check:
    name: Prettier check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v5
        with:
          node-version: "22.17.0"
      - name: Prettier check
        run: |
          npm ci
          npm run format:check

  test_webapp:
    name: Test Webapp
    uses: ./.github/workflows/_reusable-test-webapp.yml
    secrets:
      test_azure_b2c_session_token: ${{ secrets.TEST_WEBAPP_AZURE_B2C_SESSION_TOKEN }}
      test_azure_b2c_jwt_secret: ${{ secrets.TEST_WEBAPP_AZURE_B2C_JWT_SECRET }}

  test_backoffice:
    name: Test Backoffice
    uses: ./.github/workflows/_reusable-test-backoffice.yml

  test_service:
    name: Test Service
    uses: ./.github/workflows/_reusable-test-service.yml
    with:
      environment: ci-test
    secrets:
      microsoft_graph_client_id: ${{ secrets.MICROSOFT_GRAPH_CLIENT_ID }}
      microsoft_graph_client_secret: ${{ secrets.MICROSOFT_GRAPH_CLIENT_SECRET }}
      microsoft_graph_b2c_tenant_id: ${{ secrets.MICROSOFT_GRAPH_B2C_TENANT_ID }}
      microsoft_graph_b2c_tenant_name: ${{ secrets.MICROSOFT_GRAPH_B2C_TENANT_NAME }}

  build_webapp_image:
    name: Build Webapp image
    needs:
      - test_backoffice
      - test_service
      - test_webapp
    uses: ./.github/workflows/_reusable-publish-webapp-image.yml
    with:
      tag: ${{ github.sha }}
      registry_url: 232705206979.dkr.ecr.eu-west-2.amazonaws.com
      push_to_ecr: false
    secrets:
      aws_access_key_id: ${{ secrets.AWS_ACCESS_KEY_ID }}
      aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

  build_service_image:
    name: Build Service image
    needs:
      - test_backoffice
      - test_service
      - test_webapp
    uses: ./.github/workflows/_reusable-publish-service-image.yml
    with:
      tag: ${{ github.sha }}
      push_to_ecr: false
      registry_url: 232705206979.dkr.ecr.eu-west-2.amazonaws.com
    secrets:
      aws_access_key_id: ${{ secrets.AWS_ACCESS_KEY_ID }}
      aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

  build_backoffice_image:
    name: Build Backoffice image
    needs:
      - test_backoffice
      - test_service
      - test_webapp
    uses: ./.github/workflows/_reusable-publish-backoffice-image.yml
    with:
      tag: ${{ github.sha }}
      registry_url: 232705206979.dkr.ecr.eu-west-2.amazonaws.com
      push_to_ecr: false
    secrets:
      feedback_email_addresses: ${{ secrets.BACKOFFICE_FEEDBACK_EMAIL_ADDRESSES }}
      mui_pro_license_key: ${{ secrets.MUI_PRO_LICENSE_KEY }}
      aws_access_key_id: ${{ secrets.AWS_ACCESS_KEY_ID }}
      aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

  build_opensearch_proxy_image:
    name: Build OpenSearch proxy image
    needs:
      - test_backoffice
      - test_service
      - test_webapp
    uses: ./.github/workflows/_reusable-publish-opensearch-proxy-image.yml
    with:
      tag: ${{ github.sha }}
      push_to_ecr: false
      registry_url: 232705206979.dkr.ecr.eu-west-2.amazonaws.com
    secrets:
      aws_access_key_id: ${{ secrets.AWS_ACCESS_KEY_ID }}
      aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

  end_to_end_tests:
    name: End-to-end tests
    needs:
      - terraform_lint
      - prettier_check
      - test_webapp
      - test_service
      - test_backoffice
      - build_webapp_image
      - build_service_image
      - build_backoffice_image
      - build_opensearch_proxy_image
    uses: ./.github/workflows/_reusable-end-to-end-tests.yml
    with:
      image-tag: ${{ github.sha }}
      test_gov_notify_feedback_email_address: beacons_test_feedback@mailsac.com
      test_azure_ad_tenant_id: 513fb495-9a90-425b-a49a-bc6ebe2a429e
      environment: ci-test
    secrets:
      aws_access_key_id: ${{ secrets.AWS_ACCESS_KEY_ID }}
      aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      test_webapp_azure_b2c_session_token: ${{ secrets.TEST_WEBAPP_AZURE_B2C_SESSION_TOKEN }}
      test_webapp_azure_b2c_jwt_secret: ${{ secrets.TEST_WEBAPP_AZURE_B2C_JWT_SECRET }}
      test_webapp_azure_b2c_client_secret: ${{ secrets.TEST_WEBAPP_AZURE_B2C_CLIENT_SECRET }}
      test_webapp_azure_ad_client_secret: ${{ secrets.TEST_WEBAPP_AZURE_AD_CLIENT_SECRET }}
      test_webapp_gov_notify_api_key: ${{ secrets.TEST_GOV_NOTIFY_API_KEY }}
      microsoft_graph_client_id: ${{ secrets.MICROSOFT_GRAPH_CLIENT_ID }}
      microsoft_graph_client_secret: ${{ secrets.MICROSOFT_GRAPH_CLIENT_SECRET }}
      microsoft_graph_b2c_tenant_id: ${{ secrets.MICROSOFT_GRAPH_B2C_TENANT_ID }}
      microsoft_graph_b2c_tenant_name: ${{ secrets.MICROSOFT_GRAPH_B2C_TENANT_NAME }}
