name: On push, deploy to dev

on:
  push:
    branches:
      - main

jobs:
  unit_tests:
    name: Unit test CloudWatch -> Trello Lambda
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4
      - uses: actions/setup-node@v2.4.0
        with:
          node-version: 14
      - name: Run tests
        run: |
          cd terraform/trello-lambda
          npm ci
          npm run test

  terraform_lint:
    name: Terraform Lint
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: terraform

    steps:
      - uses: actions/checkout@v2
      - uses: hashicorp/setup-terraform@v1
        with:
          terraform_version: 1.0.0
      - name: Terraform Lint
        run: terraform fmt --recursive --check

  prettier_check:
    name: Prettier check
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 14
      - name: Prettier check
        run: |
          npm ci
          npm run format:check

  publish_webapp_image:
    name: Webapp
    uses: ./.github/workflows/publish-webapp-image.yml
    with:
      tag: ${{ github.sha }}
      registry_url: 232705206979.dkr.ecr.eu-west-2.amazonaws.com
    secrets:
      aws_access_key_id: ${{ secrets.AWS_ACCESS_KEY_ID }}
      aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      test_azure_b2c_session_token: ${{ secrets.WEBAPP_TEST_AZURE_B2C_SESSION_TOKEN }}
      test_azure_b2c_jwt_secret: ${{ secrets.WEBAPP_TEST_AZURE_B2C_JWT_SECRET }}

  publish_service_image:
    name: Service
    uses: ./.github/workflows/publish-service-image.yml
    with:
      tag: ${{ github.sha }}
      registry_url: 232705206979.dkr.ecr.eu-west-2.amazonaws.com
    secrets:
      aws_access_key_id: ${{ secrets.AWS_ACCESS_KEY_ID }}
      aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

  publish_opensearch_proxy_image:
    name: OpenSearch proxy
    uses: ./.github/workflows/publish-opensearch-proxy-image.yml
    with:
      tag: ${{ github.sha }}
      registry_url: 232705206979.dkr.ecr.eu-west-2.amazonaws.com
    secrets:
      aws_access_key_id: ${{ secrets.AWS_ACCESS_KEY_ID }}
      aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

  end_to_end_tests:
    name: End-to-end tests
    needs:
      [
        publish_webapp_image,
        publish_service_image,
        publish_opensearch_proxy_image,
      ]
    uses: ./.github/workflows/end-to-end-tests.yml
    with:
      service-image-tag: ${{ github.sha }}

  deploy_dev:
    name: Deploy
    needs: [end_to_end_tests, terraform_lint, prettier_check]
    uses: ./.github/workflows/deploy.yml
    with:
      environment: development
      terraform_workspace: dev
      webapp_image_tag: ${{ github.sha }}
      service_image_tag: ${{ github.sha }}
      opensearch_proxy_image_tag: ${{ github.sha }}
      trello_list_id: 6157064b4d7e1b3b1ea839ad
    secrets:
      aws_access_key_id: ${{ secrets.AWS_ACCESS_KEY_ID }}
      aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      db_password: ${{ secrets.DB_PASSWORD }}
      gov_notify_api_key: ${{ secrets.GOV_NOTIFY_API_KEY }}
      webapp_azure_ad_client_secret: ${{ secrets.WEBAPP_CLIENT_SECRET }}
      webapp_azure_b2c_client_secret: ${{ secrets.AZURE_B2C_CLIENT_SECRET }}
      webapp_azure_b2c_next_auth_jwt_secret: ${{ secrets.JWT_SECRET }}
      service_basic_auth_username: ${{ secrets.SERVICE_BASIC_AUTH_USERNAME }}
      service_basic_auth_password: ${{ secrets.SERVICE_BASIC_AUTH_PASSWORD }}
      aws_account_number: ${{ secrets.AWS_ACCOUNT_NUMBER }}
      trello_api_key: ${{ secrets.TRELLO_API_KEY }}
      trello_token: ${{ secrets.TRELLO_TOKEN }}
      opensearch_master_user_name: ${{ secrets.OPENSEARCH_USERNAME }}
      opensearch_master_user_password: ${{ secrets.OPENSEARCH_PASSWORD }}
      opensearch_dashboards_sso_client_secret: ${{ secrets.OPENSEARCH_DASHBOARDS_SSO_CLIENT_SECRET }}
