name: Publish Webapp image

on:
  workflow_call:
    secrets:
      test_azure_b2c_session_token:
        description: The session token of a logged in user to allow Cypress to test behind auth
        required: true
      test_azure_b2c_jwt_secret:
        description: Permits Cypress to authenticate with Azure B2C to perform logged-in tests
        required: true

defaults:
  run:
    working-directory: webapp

jobs:
  static_analysis:
    name: Static analysis
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      - name: Setup node
        uses: actions/setup-node@v3.1.1
        with:
          node-version: "16.17.0"
      - name: Install npm dependencies
        run: npm ci
        env:
          CYPRESS_INSTALL_BINARY: 0
      - name: Code linting
        run: npm run lint
      - name: Docker linting
        uses: brpaz/hadolint-action@v1.5.0
        with:
          dockerfile: webapp/Dockerfile

  unit_tests:
    name: Unit tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3.1.1
        with:
          node-version: "16.17.0"
      - name: Install npm dependencies
        run: npm ci
        env:
          CYPRESS_INSTALL_BINARY: 0
      - name: Run tests
        run: npm run test

  ui_tests:
    name: User interface tests
    runs-on: ubuntu-latest
    services:
      redis:
        image: redis:6
        ports:
          - 6379:6379
    env:
      SESSION_TOKEN: ${{ secrets.test_azure_b2c_session_token }}
      JWT_SECRET: ${{ secrets.test_azure_b2c_jwt_secret }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      - name: Setup Node
        uses: actions/setup-node@v3.1.1
        with:
          node-version: "16.17.0"
      - name: Install npm dependencies
        run: npm ci
        env:
          CYPRESS_INSTALL_BINARY: 0
      - name: Copy env vars
        run: cp .env.example .env.local
      - name: Run Cypress UI tests
        uses: cypress-io/github-action@v2
        with:
          working-directory: webapp
          spec: cypress/integration/**/*.spec.ts
          browser: chrome
          start: npm run start
          build: npm run build
          wait-on: "http://localhost:3000"
      - uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: cypress-screenshots
          path: webapp/cypress/screenshots/
